cx_Freeze==7.2.0
bcrypt==4.2.0
pyotp==2.9.0
qrcode==7.4.2
mysql==0.0.3
mysql-connector-python==9.0.0
pytz==2024.1
cryptography==43.0.1
Flask==3.0.3
wheel==0.44.0
pillow==10.3.0
cffi==1.17.1
setuptools==74.1.2
typing_extensions==4.12.2
MarkupSafe==2.1.5
Werkzeug==3.0.3
click==8.1.7
Jinja2==3.1.4
blinker==1.8.2
itsdangerous==2.2.0
pypng==0.20220715.0
colorama==0.4.6
mysqlclient==2.2.4
lief==0.14.1
pycparser==2.22
matplotlib==3.9.0
packaging==24.1
tkcalendar==1.6.1
SQLAlchemy==2.0.34
getmac==0.9.5
babel==2.16.0
fpdf==1.7.2
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyinstaller==6.10.0
tkcalendar==1.6.1